<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FLATICON ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css"
    />

   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SWIPER CSS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN CSS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Ecommerce Website</title>
  </head>
  <body>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <%- include('../layouts/header.ejs')  %>

   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <main class="main mainPageSection ">
      <!--=============== HOME ===============-->


      <section>
        <% if(notify.length===0){ %>
          <div class="notifyEmpty">
            <p>No notifications yet!</p>
          </div>
        <% }else{ %>
          <div class="notifySection">
            <div class="notifyTop">
              <p>Notifications</p>
              <img class="iconClearNotification" src="/img/icons/clear.png" alt="" />
            </div>
            <div class="notifyBody">
              <% notify.forEach(data => { %>
                <div class="notification-card <% if(data.status==='success'){ %> success <%}else{ %> failure <% } %> ">
                  <div class="notification-content">
                    <h3 class="notification-title"><%= data.title %></h3>
                    <p class="notification-message">
                      <%= data.message %>
                    </p>
                    <small class="notification-time"><%= data.timeAgo %></small>
                  </div>
                </div>
              <% }); %>
              
            </div>
          </div>
        <% } %>
      </section>



    </main>

   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <%- include('../layouts/footer.ejs')  %>


   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SWIPER JS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
   <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN JS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/user/main.js"></script>
    <script src="/js/user/notification.js"></script>
  </body>
</html>
